body {
    position: relative;
}

body > textarea, body > input {
    display: block;
}

#input-text {
    width: 500;
    height: 200;
    resize: none;
    overflow-y: hidden;
}

.hidden {
    display: none;
}
.alert {
    background-color: #F66;
}
.red {
    color: #F33;
}